---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="w-full flex-1 flex flex-col items-center justify-center">
        <h2 class="text-4xl mb-2 animate-float">404 ~ Not Found !</h2>
        <p class="text-center text-muted-foreground text-lg">
            this potato is lost... maybe go back <a
                href="/"
                class="border-b hover:border-none hover:text-accent">home</a
            > !?
        </p>
    </section>
</Layout>
