---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

interface Props {
	title?: string;
	description?: string;
	image?: ImageMetadata;
}

const { title, description, image } = Astro.props;

const pageTitle = title ? SITE_TITLE + " " + title : SITE_TITLE;
const pageDescription = description || SITE_DESCRIPTION;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={pageTitle}
			description={pageDescription}
			image={image}
		/>
	</head>
	<body>
		<div
			class="hover:scale-103 w-40 h-22 md:w-80 md:h-44 scale-106 bg-cover bg-no-repeat fixed left-1 top-0 bg-[url('/ribbon.svg')] animate-in slide-in-from-left-5 slide-in-from-top-5 fade-in duration-1000 ease-in-out z-999"
		>
			<a
				href="/"
				class="fixed top-0 left-0 w-[26rem] rounded-b-[4rem] h-42 -rotate-28 -translate-x-24 -translate-y-12"
			>
			</a>
		</div>
		<Header />
		<main
			class="flex-1 flex flex-col items-center w-full px-6 py-18 min-h-[calc(100vh-6.6rem)]"
		>
			<slot />
		</main>
		<Footer />
		<div
			class="w-20 h-32 md:w-42 md:h-62 lg:w-52 lg:h-72 scale-105 bg-center bg-cover bg-no-repeat fixed right-0 bottom-0 -translate-y-1/12 bg-[url('/moe.png')] hover:bg-[url('/moe-hi.png')] hover:scale-100 active:bg-[url('/moe-sitting.png')] active:scale-96 hover:duration-200 animate-in slide-in-from-right-5 fade-in duration-1000 ease-in-out z-999"
		>
		</div>
	</body>
</html>
