---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div
			class="hover:scale-103 w-80 h-44 scale-106 bg-cover bg-no-repeat fixed left-1 top-0 bg-[url('/src/assets/ribbon.svg')] animate-in slide-in-from-left-5 slide-in-from-top-5 fade-in duration-1000 ease-in-out z-999"
		>
			<a
				href="/"
				class="fixed top-0 left-0 w-[26rem] rounded-b-[4rem] h-42 -rotate-28 -translate-x-24 -translate-y-12"
			>
			</a>
		</div>
		<Header />
		<main
			class="flex-1 flex flex-col items-center w-full px-6 py-18 min-h-[calc(100vh-6.6rem)]"
		>
			<slot />
		</main>
		<Footer />
		<div
			class="w-52 h-72 scale-105 bg-center bg-cover bg-no-repeat fixed right-0 bottom-0 bg-[url('/src/assets/moe.png')] hover:bg-[url('/src/assets/moe-hi.png')] hover:scale-100 active:bg-[url('/src/assets/moe-sitting.png')] active:scale-96 hover:duration-200 animate-in slide-in-from-right-5 fade-in duration-1000 ease-in-out z-999"
		>
		</div>
	</body>
</html>
